.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 3vmin);
  color: white;
}

.menu {
  display: flex;
  margin-top: 4rem;
}

.collected {
  margin-top: 4rem;
  font-size: calc(16px + 1.6vmin);
}
